<html lang="en">

<head>
     
  <meta charset="UTF-8" />
     
  <title>cwiczenie 01</title>
  <style>
    body, html {
      margin: 0;
      padding: 0;
    }
    header {
      width: 100%;
      height: 90px;
      background-color: darkblue;
      display: flex;
      align-items: center;
      margin: 0;
      margin-top: -20px;
      font-size: 1.4em;
    }
    header > a {
      color: white;
      margin-left: 20px;
    }
  </style>
</head>

<body>
  <header>
    <a href="/upload">UPLOAD</a>
    <a href="/filemanager">FILEMANGER</a>
    <a href="/info">INFO</a>
  </header>
     
  {{{body}}}

</body>

</html>